<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Plesk. SEO-safe redirect for https://jiitconverge.com" />
                <remove name="Plesk. SEO-safe redirect for http://jiitconverge.com" />
                <rule name="Plesk. SEO-safe redirect for http://jiitconverge.com" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                        <add input="{HTTP_HOST}" pattern="jiitconverge.com" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="http://www.jiitconverge.com/{R:1}" />
                </rule>
                <rule name="Plesk. SEO-safe redirect for https://jiitconverge.com" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="ON" />
                        <add input="{HTTP_HOST}" pattern="jiitconverge.com" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="https://www.jiitconverge.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
