@charset "utf-8";
/* CSS Document */

#event-form{
	height:100%;
	width:calc( 100% - 50px );
	margin-left:5px;
}

label{
	font-family:Lato, sans-serif;
	font-size:130%;
	margin:10px 0px;
	padding:5px;
}

option,select,input{
	color:#e42844;
	font-family:Lato, sans-serif;
	font-size:100%;
	font-weight:600;
	margin:10px 0px;
	position:absolute;
	right:5%;	
	padding:5px;
	width:150px;
	background:none;
	border: 2px solid #ffffff;
}

input:focus{
	background:rgba(47,47,47,0.3);
}

.submit-form{
	left:50%;
	margin-left:-75px;
	border: 2px solid #ffffff;
	background:#ffffff;
}